@import "tailwindcss";
@import "@nuxt/ui";

@theme{
    --text-color: theme(colors.gray.900);
    --primary-color: theme(colors.orange.600);
    --border-color: theme(colors.gray.300);
    --background-color: theme(colors.gray.50);
}

@component{
    --text-color: theme(colors.gray.900);
    --primary-color: theme(colors.orange.600);
    --border-color: theme(colors.gray.300);
    --background-color: theme(colors.gray.50);
}

div{
    @apply text-gray-800
}
input,select{
    @apply bg-white
}
input::placeholder, textarea::placeholder{ 
    @apply text-gray-400;
}